<a href="https://colab.research.google.com/github/calibretaliation/DeepLearning20211/blob/main/siamese_net_tf.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/calibretaliation/DeepLearning20211.git

Cloning into 'DeepLearning20211'...
remote: Enumerating objects: 32475, done.
remote: Counting objects: 100% (9/9), done.
remote: Compressing objects: 100% (9/9), done.
remote: Total 32475 (delta 2), reused 0 (delta 0), pack-reused 32466
Receiving objects: 100% (32475/32475), 1.68 GiB | 34.25 MiB/s, done.
Resolving deltas: 100% (60/60), done.
Checking out files: 100% (32428/32428), done.

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

import tensorflow as tf
from pathlib import Path
from tensorflow.keras import applications, layers, losses, optimizers, metrics, Model
from tensorflow.keras.applications import resnet


def set_seed(seed):
    random.seed(seed)
    np.random.seed(seed)
    tf.random.set_seed(seed)
    os.environ['PYTHONHASHSEED'] = str(seed)

In [9]:
train_df = pd.read_csv('DeepLearning20211/data/train.csv', index_col=False)
test_df = pd.read_csv('DeepLearning20211/data/test.csv', index_col=False)

train_img_dir = 'DeepLearning20211/data/train_images'
test_img_dir = 'DeepLearning20211/data/test_images'

In [8]:
from pathlib import Path
from tensorflow.keras import applications, layers, losses, optimizers, metrics, Model
from tensorflow.keras.applications import resnet

In [10]:
train_df

             posting_id  ... label_group
0       train_129225211  ...   249114794
1      train_3386243561  ...  2937985045
2      train_2288590299  ...  2395904891
3      train_2406599165  ...  4093212188
4      train_3369186413  ...  3648931069
...                 ...  ...         ...
34245  train_4028265689  ...  3776555725
34246   train_769054909  ...  2736479533
34247   train_614977732  ...  4101248785
34248  train_3630949769  ...  1663538013
34249  train_1792180725  ...   459464107

[34250 rows x 5 columns]